* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: black;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	height: 100vh;
	/* background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed cover; */
	background-image: linear-gradient(
		to right top,
		#112b3c,
		#143246,
		#163a51,
		#19415b,
		#1c4966,
		#28507a,
		#3f558b,
		#5c5899,
		#9b509c,
		#d34284,
		#f44756,
		#f66b0e
	);
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid rgba(204, 204, 204, 0.5);
	box-shadow: 1px 1px 10px 1px rgba(204, 204, 204, 0.5);
	border-bottom: 15px ridge rgba(204, 204, 204, 0.5);
	margin-bottom: 45px;
}

header ul {
	display: flex;
}

header ul li {
	border-left: 5px solid rgba(204, 204, 204, 0.5);
	padding: 5px;
}

header ul li a {
	transition: 300ms;
}

header ul li a:hover {
	color: rgba(204, 204, 204, 0.5);
}

header img {
	width: 6rem;
}

.container {
	text-align: center;
}

.container .name h1 {
	font-size: 60px;
}

.container .name h5 {
	font-size: 25px;
}

#arrow {
	font-size: 45px;
	cursor: pointer;
	animation: blink 2s steps(5, start) infinite;
}

@keyframes blink {
	to {
		visibility: hidden;
	}
}

#animation {
	transition: 300ms;
}

.rotate {
	transform: rotate(180deg);
	transition: 300ms;
}

.active {
	display: block !important;
}

#about p {
	max-width: 600px;
	margin: 0 auto;
	padding: 30px;
}

.form {
	width: 40%;
	margin: 0 auto;
	border: thick double rgba(204, 204, 204, 0.5);
	margin-top: 30px;
	padding: 10px;
}

.form input {
	width: 60%;
	padding: 5px 10px;
	border-radius: 4px;
	outline: none;
	border: none;
	border-radius: 5px 0px 0px 5px;
}

.form button {
	width: 30%;
	padding: 5px 10px;
	background: linear-gradient(to right, rgba(204, 204, 204, 0.5) 50%, black 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	font-weight: 600;
	border: none;
	cursor: pointer;
	border-radius: 0px 5px 5px 0px;
	transition: all 400ms ease-out;
	color: rgba(204, 204, 204, 0.5);
	margin-left: -5px;
	margin-top: 20px;
}

.form button:hover {
	background-position: left bottom;
	color: black;
}

@media only screen and (max-width: 768px) {
	.form {
		width: 100%;
	}

	.form button {
		width: 10rem;
	}

	body {
		height: 100%;
}

@media only screen and (max-width: 480px) {
	.container .name h1 {
		font-size: 30px;
	}

	.container .name h5 {
		font-size: 15px;
	}

	#about p {
		max-width: 80%;
		text-align: justify;
	}
}