* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: black;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	height: 100vh;
	/* background-image: url(https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) no-repeat center center fixed cover; */
	background-image: linear-gradient(
		to right top,
		#112b3c,
		#143246,
		#163a51,
		#19415b,
		#1c4966,
		#28507a,
		#3f558b,
		#5c5899,
		#9b509c,
		#d34284,
		#f44756,
		#f66b0e
	);
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid rgba(204, 204, 204, 0.5);
	box-shadow: 1px 1px 10px 1px rgba(204, 204, 204, 0.5);
	border-bottom: 15px ridge rgba(204, 204, 204, 0.5);
}

header ul {
	display: flex;
}

header ul li {
	border-left: 5px solid rgba(204, 204, 204, 0.5);
	padding: 5px;
}

header img {
	width: 6rem;
}

.container {
	text-align: center;
}

.container .name h1 {
	font-size: 60px;
}

.container .name h5 {
	font-size: 25px;
}

#about p {
	max-width: 600px;
	margin: 0 auto;
}

.form {
	width: 40%;
	margin: 0 auto;
	border: thick double rgba(204, 204, 204, 0.5);
	padding: 25px;
}

.form imput {
	width: 50%;
}

.form button {
	width: 15%;	
}